{% extends "fenixedu-learning-theme/base.html" %}

{% block header %}
	<link href='{{staticDir}}/css/fullcalendar.css' rel='stylesheet' />
	<link href='{{staticDir}}/css/fullcalendar.print.css' rel='stylesheet' media='print' />
	<link href='{{staticDir}}/css/schedule.css' rel='stylesheet' rel='stylesheet' />

	<script src='{{staticDir}}/js/moment.min.js'></script>
	<script src='{{staticDir}}/js/jquery-ui.fullCalendar.custom.min.js'></script>
	<script src='{{staticDir}}/js/fullcalendar.js'></script>
	<script src="{{staticDir}}/js/bootstrap.min.js"></script>

{% endblock header %}

{% block content %}
	<div id='calendar'></div>

	<script type="text/javascript">
		var i18nDayNames = [
			"{{ i18n('resources.FenixEduLearningResources', 'weekday.sunday') }}",
			"{{ i18n('resources.FenixEduLearningResources', 'weekday.monday') }}",
			"{{ i18n('resources.FenixEduLearningResources', 'weekday.tuesday') }}",
			"{{ i18n('resources.FenixEduLearningResources', 'weekday.wednesday') }}",
			"{{ i18n('resources.FenixEduLearningResources', 'weekday.thursday') }}",
			"{{ i18n('resources.FenixEduLearningResources', 'weekday.friday') }}",
			"{{ i18n('resources.FenixEduLearningResources', 'weekday.saturday') }}"
		];

		var config = {
			firstDay: 0,
			allDaySlot: false,
			weekends: true,
			minTime : '08:00',
			maxTime : '23:59',
			defaultView: '{{defaultView}}',
			timeFormat: 'HH:mm',
			axisFormat: 'HH:mm',
			slotDuration: '00:30:00',
			slotEventOverlap: false,
			dayNames: i18nDayNames,
			dayNamesShort: i18nDayNames,
			eventAfterRender: afterEventsRender,
			events: "{{eventsUrl}}",
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,basicDay'
            },
			eventLimit: true,
			editable: false
		};

		$(document).ready(function() {
			$('#calendar').fullCalendar(config);
			$('#calendar').fullCalendar('gotoDate', '{{dayToShow}}' );
		});

		function afterEventsRender( event, jsEvent, view ) {
			jsEvent.attr('title', event.description);
			jsEvent.tooltip({ container: 'body', html: false });
		}
	</script>
{% endblock content %}
