{% extends "fenixedu-learning-theme/base.html" %}

{% block header %}
	<link href='{{staticDir}}/css/fullcalendar.css' rel='stylesheet' />
	<link href='{{staticDir}}/css/fullcalendar.print.css' rel='stylesheet' media='print' />
	<link href='{{staticDir}}/css/schedule.css' rel='stylesheet' rel='stylesheet' />

	<script src='{{staticDir}}/js/moment.min.js'></script>
	<script src='{{staticDir}}/js/jquery-ui.fullCalendar.custom.min.js'></script>
	<script src='{{staticDir}}/js/fullcalendar.js'></script>
	<script src="{{staticDir}}/js/bootstrap.min.js"></script>

{% endblock header %}

{% block content %}

	<div id='calendar'></div>

	<script type="text/javascript">
		function date(weekday, hour, minutes) {
			return moment().day( weekday - 1).hour( hour + 1 ).minute( minutes ).toISOString();
		}
		var scheduleEvents = [];

		{% for event in events %}
			try {
				scheduleEvents.push({
					id: "{{ event.id }}",
					title: "{{ event.title.content | raw | default('') }}\n{{ event.subtitle.content | raw | default('') }}",
					start: "{{ event.begin }}",
					end: "{{ event.end }}",
					url: "{{ event.url }}",
					description: "{{ event.description.content | default('') }}\n{{ event.location | default('') }}"
				});
			} catch(e) {
				console.err("error for event ", event);
			}
		{% endfor %}

		var i18nDayNames = [
			"{{ i18n('resources.FenixEduCMSResources', 'weekday.sunday') }}",
			"{{ i18n('resources.FenixEduCMSResources', 'weekday.monday') }}",
			"{{ i18n('resources.FenixEduCMSResources', 'weekday.tuesday') }}",
			"{{ i18n('resources.FenixEduCMSResources', 'weekday.wednesday') }}",
			"{{ i18n('resources.FenixEduCMSResources', 'weekday.thursday') }}",
			"{{ i18n('resources.FenixEduCMSResources', 'weekday.friday') }}",
			"{{ i18n('resources.FenixEduCMSResources', 'weekday.saturday') }}"
		];

		var config = {
			firstDay: 0,
			allDaySlot: false,
			weekends: true,
			minTime : '08:00',
			maxTime : '23:59',
			defaultDate: moment().toISOString(),
			defaultView: '{{ defaultView is empty ? "week" : defaultView }}',
			timeFormat: 'HH:mm',
			axisFormat: 'HH:mm',
			slotDuration: '00:30:00',
			slotEventOverlap: false,
			dayNames: i18nDayNames,
			dayNamesShort: i18nDayNames,
			eventAfterRender: afterEventsRender,
			events: scheduleEvents,
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,basicDay'
            },
			eventLimit: true,
			editable: false
		};

		$(document).ready(function() {
			$('#calendar').fullCalendar(config);
		});

		function afterEventsRender( event, jsEvent, view ) {
			jsEvent.attr('title', event.description);
			jsEvent.tooltip({ container: 'body', html: false });
		}
	</script>
{% endblock content %}
