
{% extends "fenixedu-learning-theme/base.html" %}
{% import "fenixedu-learning-theme/view.html" %}

{% block content %}

  {% if pagination.pages is not empty %}
      {% for post in pagination.posts %}
        {{ viewPost(post) }}
      {% endfor %}

      {% if pagination.pages.size != 1 %}
      <center>
      <ul class="pagination pagination-sm">

        {% if pagination.current != 1 %}
          <li><a href="#">&laquo;</a></li>
        {% else %}
          <li class="disabled"><a href="#">&laquo;</a></li>
        {% endif %}

        {% for i in pagination.pages %}
          {% if loop.index + 1 == pagination.current %}
            <li class="active"><a href="{{ i.url }}">{{loop.index + 1}}</a></li>
          {% else %}
            <li><a href="{{ i.url }}">{{loop.index + 1}}</a></li>
          {% endif %}
        {% endfor %}

        {% if pagination.current != pagination.pages %}
          <li><a href="#">&raquo;</a></li>
        {% else %}
          <li class="disabled"><a href="#">&raquo;</a></li>
        {% endif %}

      </ul>
      </center>
      {% endif %}
  {% else %}
    <h4>Currently there are no posts.</>
  {% endif %}
{% endblock content %}