{% extends "fenixedu-learning-theme/base.html" %}

{% macro viewCurricularCourses(curricularCoursesStream) %}
	{% set applicationBundle = 'resources.ApplicationResources' %}
	{% lazyFor curricularCourse in curricularCoursesStream %}
		<div class="row small">
			<!-- NAME -->
			<div class="col-md-5">
				<a href="{{ curricularCourse.url }}" style="font-size: 120%">{{ curricularCourse.name.content }} </a>
				<div>
					{{ curricularCourse.contextInformation }}
				</div>
			</div>

			<!-- INFO -->
			<div class="col-md-2">
				<p>
					<span class="context-info">
						{% if curricularCourse.isSemestrial %}
							Semestral
						{% else %}
							Anual
						{% endif %}
					</span>
					{% if curricularCourse.isOptional %}
						({{ i18n(applicationBundle, 'label.degreeCurricularPlan.renderer.option') }})
					{% else %}
						({{ curricularCourse.regimeAcronym }})
					{% endif %}
				</p>
			</div>

			<div class="col-md-2">
				<p>
					{{ curricularCourse.ECTS }}
					{{ i18n(applicationBundle, 'label.credits.abbreviation') }}
				</p>
			</div>

			<!-- LOAD -->
			<div class="col-md-3">

				<p>
					{{ i18n(applicationBundle, 'label.degreeCurricularPlan.renderer.acronym.contact.load') }}
					-
					{{ curricularCourse.contactLoad }}
					-
					{{ i18n(applicationBundle, 'label.degreeCurricularPlan.renderer.acronym.autonomous.work') }}
					-
					{{ curricularCourse.autonomousWorkHours }}
					-
					{{ i18n(applicationBundle, 'label.degreeCurricularPlan.renderer.acronym.total.load') }}
					-
					{{ curricularCourse.totalLoad }}
				</p>
			</div>
			
			<!-- FREQUENCY -->
			<div class="col-md-1">

			</div>
		</div>

		{% if curricularCourse.rules.count > 0 %}
			<div class="rules">
				<div class="level">
					{% lazyFor rule in curricularCourse.rules %}
						<p><span class="rule">{{ rule }}</span></p>
					{% endLazyFor %}
				</div>
			</div>
		{% endif %}
		<hr />

	{% endLazyFor %}
{% endmacro %}

{% macro viewCourseGroups(courseGroups) %}
	{% set bundle = 'resources.ApplicationResources' %}
	{% lazyFor courseGroup in courseGroups %}

		<h4>{{ courseGroup.name.content }}</h4>
		{% if courseGroup.description.content != "null" %}
			<p style="white-space: pre-wrap">{{ courseGroup.description.content }}</p>
		{% endif %}
		<hr />
		<div class="level">
			<!-- RULES -->
			<div class="rules">
				{% if courseGroup.rules.count > 0 %}
					{% lazyFor rule in courseGroup.rules %}
						<p><span class="rule">{{ rule }}</span></p>
					{% endLazyFor %}
					<hr />
				{% endif %}
			</div>
			<!-- CHILDS -->
			{{ viewCurricularCourses(courseGroup.curricularCourses) }}
			{{ viewCourseGroups(courseGroup.courseGroups) }}
		</div>
	{% endLazyFor %}


{% endmacro %}


{% macro viewCurricularCoursesBySemester(coursesByCurricularSemester) %}
	{% for entry in entries(coursesByCurricularSemester) %}
		{% set curricularPeriod = entry.key %}
		{% set courses = entry.value %}

		<h4>{{ curricularPeriod.fullLabel }}</h4>
		<br />
		{{ viewCurricularCourses(courses.stream) }}
	{% endfor %}
{% endmacro %}

{% block content %}

    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
        	<a href="#byGroups" role="tab" data-toggle="tab">
        		Grupos
        	</a>
    	</li>

        <li>
        	<a href="#bySemesters" role="tab" data-toggle="tab">
        		Ano/Semestre
        	</a>
    	</li>
    </ul>

	<br />
	<div>
		<button class="btn btn-sm btn-default pull-right" type="button" id="rules_button">
			Show Rules
		</button>
		<div class="dropdown pull-right">
			<button class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown">
				{{ selectedYear.year }} 
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				{% for year in years %}
					<li><a href="?year={{ year.externalId }}">{{ year.year }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>


    <div class="tab-content">
		<div class="tab-pane fade in" id="bySemesters">
			{{viewCurricularCoursesBySemester(coursesByCurricularSemester)}}
		</div>
        <div class="tab-pane fade in active" id="byGroups">
			{{ viewCourseGroups(courseGroups) }}
		</div>
	</div>

	 <div>
		<p><em>{{ i18n('resources.FenixEduLearningResources', 'label.degreeCurricularPlan.legend') }}:</em></p>
		<ul style="list-style-type:none">
		  	<li>{{ i18n('resources.FenixEduLearningResources', 'label.degreeCurricularPlan.semestral.acronym') }} - {{ i18n('resources.FenixEduLearningResources', 'label.degreeCurricularPlan.semestral') }}</li>
		  	<li>{{ i18n('resources.FenixEduLearningResources', 'label.degreeCurricularPlan.anual.acronym') }} - {{ i18n('resources.FenixEduLearningResources', 'label.degreeCurricularPlan.anual') }}</li>	
			<li>{{ i18n('resources.FenixEduLearningResources', 'label.degreeCurricularPlan.contact.load.acronym') }} - {{ i18n('resources.FenixEduLearningResources', 'label.degreeCurricularPlan.contact.load') }}</li>
			<li>{{ i18n('resources.FenixEduLearningResources', 'label.degreeCurricularPlan.autonomous.work.acronym') }} - {{ i18n('resources.FenixEduLearningResources', 'label.degreeCurricularPlan.autonomous.work') }}</li>
			<li>{{ i18n('resources.FenixEduLearningResources', 'label.degreeCurricularPlan.total.work.acronym') }} - {{ i18n('resources.FenixEduLearningResources', 'label.degreeCurricularPlan.total.work') }}</li>
		</ul>  
	</div>

	<script type="text/javascript">
		$('.rules').hide();
		var names = ['Show Rules', 'Hide Rules'];
		var selectedNamePosition = 0;
		$('#rules_button').click(function(){
			selectedNamePosition = (selectedNamePosition + 1) % names.length;
			$('.rules').fadeToggle();
			$('#rules_button').html(names[selectedNamePosition]);
		});	
	</script>

	<style type="text/css">
		.level {
			margin-left: 10px;
		}
		.rule {
			color: #888;
			margin-top: 0px;
			font-size: 90%;
		}
		hr {
			margin-top: 5px;
			margin-bottom: 5px;
		}
	</style>	

{% endblock content %}
