{% extends "fenixedu-learning-theme/base.html" %}

{% block content %}

<!-- Execution courses by semester and curricular year -->
{% for executionCourseBySemesterAndCurricularYear in  entries(executionCoursesBySemesterAndCurricularYear) %}
	{% set semester = executionCourseBySemesterAndCurricularYear.key %}
	{% set executionCoursesByCurricularYears = executionCourseBySemesterAndCurricularYear.value %}
	{% set numExecutionCourses = entries(executionCoursesByCurricularYears).size %}
	{% set columnSize = numExecutionCourses > 0 ? ((12 / numExecutionCourses) % 12) : 12 %}
		<h3 class="text-center">{{ semester.qualifiedName }}</h3>

		<div class="row">
			{% for executionCoursesByYear in entries(executionCoursesByCurricularYears) %}
				{% set year = executionCoursesByYear.key %}
				{% set executionCourses = executionCoursesByYear.value %}
				<div class="col-md-{{ columnSize }}">
					<h4 class="text-center">
						{{ i18n('resources.PublicDegreeInformation', 'public.degree.information.label.year') }} {{ year }}
					</h4>

					<br />
					
					{% for executionCourseWrap in executionCourses %}
						<p><a href="{{ executionCourseWrap.executionCourse.cmsSite.fullUrl }}">{{ executionCourseWrap.executionCourseName }}</a></p>
						<hr>
					{% endfor %}
				</div>
			{% else %}
				<div class="col-md-12">
					<p class="text-center"><em>There are no executions of curricular units for this execution period.</em></p>
				</div>
			{% endfor %}
		</div>
{% endfor %}

{% endblock content %}