{% extends "fenixedu-learning-theme/base.html" %}

{% import "fenixedu-learning-theme/personCard.html" %}

{% block header %}
    <script src="{{staticDir}}/js/bootstrap.min.js"></script>

    <style>
        h3, h4 {
            padding-bottom: 25px;
            padding-top: 25px;
        }
    </style>
{% endblock header %}

{% macro orientatorCard(advisor, size, misteryMan) %}
    {{ personCard(advisor.name, advisor.person.homepageWebAddress, advisor.person is null ? misteryMan : advisor.person.user.profile.avatarUrl , advisor.type.name, advisor.affiliation, advisor.category, size) }}
{% endmacro %}

{% macro studentCard(student, size) %}
    {{ personCard(student.person.presentationName, student.person.homepageWebAddress, student.person.user.profile.avatarUrl, 'STUDENT', null, null, size) }}
{% endmacro %}

{% macro personCard(name, homepageWebAddress, avatarUrl, type, affiliation, category, size) %}
<div class="participant-card col-md-{{ size }} row text-center">

    <div class="person-photo row">
        <a href="{{ homepageWebAddress }}">
            <img class="img-circle" height='100' width='100' alt="{{ name }}" src="{{ avatarUrl }}"/>
        </a>
    </div>

    <div class="person-details row">
        <p><span class="label label-info">{{ i18n('resources.ApplicationResources', 'label.thesis.participant.type.' + type) }}</span></p>
        <p><a href="{{ homepageWebAddress }}">{{ name }}</a></p>

        {% if affiliation is not empty %}
            <p>{{ affiliation }}</p>
        {% endif %}

        {% if category is not empty %}
            <p>{{ category }}</p>
        {% endif %}
    </div>

</div>
{% endmacro %}


{% block content %}

    <section>
        <h3>
            {{ thesis.finalFullTitle }}
            <small>{{ thesis.finalSubtitle }}
                <span class="label label-{{ getValue(states, thesis.state) }}">{{ thesis.state }}</span>
            </small>
        </h3>

        {% if thesis.thesisAbstract is not empty %}
            <blockquote>
                <label>{{ i18n('resources.ApplicationResources', 'title.thesis.details.details') }}: </label>{{ thesis.thesisAbstract }}

                <footer><label>Keywords: </label>{{ thesis.keywords }}</footer>
            </blockquote>
        {% endif %}
        {% if thesis.currentDiscussedDate is not empty %}
            <p><label>{{ i18n('resources.ApplicationResources', 'title.thesis.details.discussion') }}: </label>{{ thesis.currentDiscussedDate | formatDate }}</p>
        {% endif %}
    </section>

    {% if isAccessible %}
        <section>
            <h4>{{ i18n('resources.ApplicationResources', 'title.thesis.details.publication') }}</h4>
            <div class="row text-center">
                <div class="col-md-6">
                    <a href="{{ thesis.extendedAbstract.downloadUrl }}">
                        <p><img class="img-circle" src="{{ staticDir }}/images/pdf.png" width="50"></p>
                        <p>Extended Abstract</p>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="{{ thesis.dissertation.downloadUrl }}">
                        <p><img class="img-circle" src="{{ staticDir }}/images/pdf.png" width="50"></p>
                        <p>Thesis</p>
                    </a>
                </div>
            </div>
            <p class="text-center"><small>{{ i18n('resources.ResearcherResources', 'label.publication.subject.to.copyright') }}</small></p>
        </section>
    {% endif %}
    {% if not isAccessible and thesis.dissertation is not empty %}
        <div class="alert alert-warning">
            {{ i18n('resources.FenixEduLearningResources', 'thesis.documents.unavailable.public') }}
        </div>
    {% endif %}

    <section>
        <h4>{{ i18n('resources.ApplicationResources', 'title.thesis.details.orientation') }}</h4>
        <div class="participants">
            {% set size = 4 %}
            {{ studentCard(thesis.student, size) }}
            {% for advisor in thesis.orientation %}
                {{ orientatorCard(advisor, size, request.contextPath + '/img/mysteryman.png') }}
            {% endfor %}
        </div>
    </section>


{% endblock content %}