{% extends "fenixedu-learning-theme/base.html" %}
{% import "fenixedu-learning-theme/view.html" %}

{% block contentTitle %}
	{{ i18n('resources.FenixEduLearningResources', 'label.latestAnnouncements') }}
{% endblock contentTitle %}

{% block content %}


{% if executionCourse.executionPeriod.inquiryResponsePeriod is not empty
	and executionCourse.availableForInquiries 
	and executionCourse.executionPeriod.inquiryResponsePeriod.insideResponsePeriod %}

	<p>
		<strong>{{ i18n('resources.ApplicationResources', 'message.inquiries.available.prefix') }}</strong>
		{% if isStudent %}
			{{ i18n('resources.ApplicationResources', 'message.inquiries.available.students') }}
			<a href="{{ showCoursesToAnswerUrl }}">
				{{ i18n('resources.ApplicationResources', 'message.inquiries.available.at.here') }}
			</a>
		{% else %}
			{{ i18n('resources.ApplicationResources', 'message.inquiries.available.non.students') }}
		{% endif %}
	</p>
{% endif %}

{% if pagination is not empty and pagination.posts is not empty %}
	{% set announcement = pagination.posts | head %}
		<div>
			<div>
				{{ viewPost(announcement) }}
				
				{% for post in pagination.posts | tail %}
				<hr />
					<h5 style="margin-top: 0; font-weight:400"><a href="{{post.address}}">{{ post.name.content }}</a></h5>
					<p class="small" style="font-size:11px; color:#888;margin-top:5px; margin-bottom:18px;"> 
                    <span>{{ post.creationDate|formatDate("d MMMM Y, HH:mm") }} </span>
          </p>
					
				{% endfor %}
				
			</div>
		</div>
{% endif %}

{% if executionCourse.site.alternativeSite is not empty %}
    <h3 style="font-weight:300; margin-bottom: 22px; margin-top:45px;">
        {{i18n('resources.ApplicationResources', 'link.alternative')}}
    </h3>
    <a href="{{executionCourse.site.alternativeSite}}" target="_blank">{{executionCourse.site.alternativeSite}}</a>
{% endif %}

{% if professorships is not empty %}
          <h3 style="font-weight:300; margin-bottom: 22px; margin-top:45px;">            
            {{ i18n('resources.ApplicationResources', 'label.lecturingTeachers') }}            
          </h3>

	
		{% for professorship in professorships %}
		{% if loop.index == 0 %}
			{% else %}
			<hr>
		{% endif %}
		
	<div class="row" style="margin-top:25px;">
				<div class="col-sm-1">
					<img class="img-circle" width="60" src="{{professorship.person.user.profile.avatarUrl}}?s=60"/>
				</div>
				<div class="col-sm-11" style="margin-top:12px;padding-left:25px;">
					{% if professorship.person.hasAvailableWebSite %}
						<a href="{{professorship.person.homepageWebAddress}}">{{professorship.person.profile.displayName}}</a>
						
						{% if professorship.responsibleFor %}
						<p class="badge" style="font-weight:400; background:#aaa; font-size:11px; padding-left:10px; padding-right:10px; margin-left:5px; margin-bottom:0px;">{{ i18n('resources.FenixEduLearningResources', 'label.senior.lecture') }}</p>
					{% endif %}
					{% else %}
						{{professorship.person.name}}
					{% endif %}
					<div>
						{% if professorship.person.defaultEmailAddress is not empty and
						professorship.person.defaultEmailAddress.visibleToPublic %}
						{{professorship.person.defaultEmailAddress.presentationValue}}
						{% endif %}
					</div>
			</div>
	</div>

		{% endfor %}
	

{% endif %}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<spanaria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">
					{{ i18n('resources.FenixEduLearningResources', 'label.moreInfo') }}
				</h4>
			</div>
			<div class="modal-body">
				<div role="tabpanel">

					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#info" aria-controls="home" role="tab" data-toggle="tab">
								{{ i18n('resources.FenixEduLearningResources', 'label.details') }}
							</a>
						</li>
						<li role="presentation">
							<a href="#older" aria-controls="profile" role="tab" data-toggle="tab">
								{{ i18n('resources.FenixEduLearningResources', 'label.previousYears') }}
							</a>
						</li>
						<li role="presentation">
							<a href="#courses" aria-controls="messages" role="tab" data-toggle="tab">
								{{ i18n('resources.FenixEduLearningResources', 'label.degrees') }}
							</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">

						<!-- extra information -->
						<div role="tabpanel" class="tab-pane active" id="info">
							{% if site.description is not empty %}
								<h5>{{ i18n('resources.FenixEduLearningResources', 'degree.description.title') }}:</h5>
								{{ site.description.content }}
							{% endif %}

							{% if executionCourse.email is not empty %}
								<h5>{{ i18n('resources.FenixEduLearningResources', 'label.email') }}:</h5>
								<a href="mailto:{{executionCourse.email}}">{{executionCourse.email}}</a>
							{% endif %}
						</div>

						<!-- Previous execution courses -->
						<div role="tabpanel" class="tab-pane" id="older">
							<p>
								{% if previousExecutionCourses is not empty %}
									<ul class="list-unstyled">
										{% for previousExecuionCourse in previousExecutionCourses %}
											{% if previousExecuionCourse.siteUrl is not empty %}
											<li>
												<a href="{{ previousExecuionCourse.siteUrl }}">
													{{ previousExecuionCourse.executionYear.year }}
													-
													{{ previousExecuionCourse.executionPeriod.name }}
												</a>
											</li>
											{% endif %}
										{% endfor %}
									</ul>
								{% endif %}
							</p>
						</div>

						<!-- Degrees -->
						<div role="tabpanel" class="tab-pane" id="courses">
							<p>
								{% if executionCourse.executionDegrees is not empty %}
									<ul class="list-unstyled">
										{% for executionDegree in executionCourse.executionDegrees %}
											{% if executionDegree.degree.siteUrl is not empty %}
												<li>
													<a href="{{executionDegree.degree.siteUrl}}">
														{{executionDegree.presentationName}}
													</a>
												</li>
											{% else %}
												<li>{{executionDegree.presentationName}}</li>
											{% endif %}
										{% endfor %}
									</ul>
								{% endif %}
							</p>
						</div>
					</div>

				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					{{ i18n('resources.ApplicationResources', 'label.back') }}
				</button>
			</div>
		</div>
	</div>
</div>

{% endblock content %}


	{% block titleLink %}
<a style="padding-left:20px; font-size:15px; color:#009EE2; font-weight:300" href="#" data-toggle="modal" data-target="#myModal">+
	Info</a>
{% endblock titleLink %}