{% extends "fenixedu-learning-theme/base.html" %}
{% import "fenixedu-learning-theme/view.html" %}

{% block content %}


{% if executionCourse.executionPeriod.inquiryResponsePeriod is not empty
	and executionCourse.availableForInquiries 
	and executionCourse.executionPeriod.inquiryResponsePeriod.insideResponsePeriod %}

	<p>
		<strong>{{ i18n('resources.ApplicationResources', 'message.inquiries.available.prefix') }}</strong>
		{% if isStudent %}
			{{ i18n('resources.ApplicationResources', 'message.inquiries.available.students') }}
			<a href="{{ showCoursesToAnswerUrl }}">
				{{ i18n('resources.ApplicationResources', 'message.inquiries.available.at.here') }}
			</a>
		{% else %}
			{{ i18n('resources.ApplicationResources', 'message.inquiries.available.non.students') }}
		{% endif %}
	</p>
{% endif %}

{% if pagination is not empty and pagination.posts is not empty %}
	{% set announcement = pagination.posts | head %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Últimos anúncios</strong>
			</div>
			<div class="panel-body">
				{{ viewPost(announcement) }}
				<hr />
				<ul>
				{% for post in pagination.posts | tail %}
					<li><small>{{ post.creationDate|formatDate("dd-MM-YYYY HH:mm") }}</small> <a href="{{post.address}}">{{post.name.content}}</a></li>
				{% endfor %}
				</ul>
			</div>
		</div>
{% endif %}


{% if professorships is not empty %}
	<h4>{{ i18n('resources.ApplicationResources', 'label.lecturingTeachers') }}</h4>

	<div class="row">
		{% for professorship in professorships %}
			<div class="col-sm-6">
				<div class="col-sm-3 text-center">
					<img class="img-circle" width="60" src="{{professorship.person.user.profile.avatarUrl}}?s=60"/>
				</div>
				<div class="col-sm-9">
					{% if professorship.person.hasAvailableWebSite %}
						<a href="{{professorship.person.homepageWebAddress}}">{{professorship.person.name}}</a>
					{% else %}
						{{professorship.person.name}}
					{% endif %}
					{% if professorship.responsibleFor %}
						<p class="badge">{{ i18n('resources.ApplicationResources', 'label.responsible') }}</p>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>

{% endif %}

{% endblock content %}
