{% extends "fenixedu-learning-theme/base.html" %}
{% import "fenixedu-learning-theme/view.html" %}

{% block contentTitle %}
	{{ i18n('resources.FenixEduLearningResources', 'label.latestAnnouncements') }}
{% endblock contentTitle %}

{% block content %}


{% if executionCourse.executionPeriod.inquiryResponsePeriod is not empty
	and executionCourse.availableForInquiries 
	and executionCourse.executionPeriod.inquiryResponsePeriod.insideResponsePeriod %}

	<p>
		<strong>{{ i18n('resources.ApplicationResources', 'message.inquiries.available.prefix') }}</strong>
		{% if isStudent %}
			{{ i18n('resources.ApplicationResources', 'message.inquiries.available.students') }}
			<a href="{{ showCoursesToAnswerUrl }}">
				{{ i18n('resources.ApplicationResources', 'message.inquiries.available.at.here') }}
			</a>
		{% else %}
			{{ i18n('resources.ApplicationResources', 'message.inquiries.available.non.students') }}
		{% endif %}
	</p>
{% endif %}

{% if pagination is not empty and pagination.posts is not empty %}
	{% set announcement = pagination.posts | head %}
		<div>
			<div>
				{{ viewPost(announcement) }}
				
				{% for post in pagination.posts | tail %}
				<hr />
					<h5 style="margin-top: 0; font-weight:400"><a href="{{post.address}}">{{ post.name.content }}</a></h5>
					<p class="small" style="font-size:11px; color:#888;margin-top:5px; margin-bottom:18px;"> 
                    <span>{{ post.creationDate|formatDate("d MMMM Y, HH:mm") }} </span>
          </p>
					
				{% endfor %}
				
			</div>
		</div>
{% endif %}


{% if professorships is not empty %}
          <h3 style="font-weight:300; margin-bottom: 22px; margin-top:45px;">            
            {{ i18n('resources.ApplicationResources', 'label.lecturingTeachers') }}            
          </h3>

	
		{% for professorship in professorships %}
		{% if loop.index == 0 %}
			{% else %}
			<hr>
		{% endif %}
		
	<div class="row" style="margin-top:25px;">
				<div class="col-sm-1">
					<img class="img-circle" width="60" src="{{professorship.person.user.profile.avatarUrl}}?s=60"/>
				</div>
				<div class="col-sm-11" style="margin-top:12px;padding-left:25px;">
					{% if professorship.person.hasAvailableWebSite %}
						<a href="{{professorship.person.homepageWebAddress}}">{{professorship.person.profile.displayName}}</a>
						
						{% if professorship.responsibleFor %}
						<p class="badge" style="font-weight:400; background:#aaa; font-size:11px; padding-left:10px; padding-right:10px; margin-left:5px; margin-bottom:0px;">{{ i18n('resources.FenixEduLearningResources', 'label.senior.lecture') }}</p>
					{% endif %}
					{% else %}
						{{professorship.person.name}}
					{% endif %}
					<div>
						{% if professorship.person.defaultEmailAddress is not empty and
						professorship.person.defaultEmailAddress.visibleToPublic %}
						{{professorship.person.defaultEmailAddress.presentationValue}}
						{% endif %}
					</div>
			</div>
	</div>

		{% endfor %}
	

{% endif %}
{% endblock content %}


	{% block titleLink %}
{% if executionCourse.email is not empty %}
   <a style="padding-left:20px; font-size:15px; color:#009EE2; font-weight:300" href="mailto:{{executionCourse.email}}">+ Email</a>
   {% endif %}
{% endblock titleLink %}


   
