{% macro menuChildren(menuItems) %}
  {% if menuItems is not empty %}
    <ul class="nav nav-pills nav-stacked list-unstyled children">
      {% lazyFor item in menuItems %}
          {% if item.isFolder %}
            {{ menuFolder(item) }}
          {% else %}
            {{ menuItem(item) }}
          {% endif %}
      {% endLazyFor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro menuItem(item) %}
  <li class="menuItem {{ item.isActive equals true ? 'open' : '' }} {{ item.isOpen equals true ? 'active' : '' }}">
    <a class="item" href="{{ item.address }}">
      {{ item.name.content }}
      {% if item.rssUrl != null %}
        <a class="rsslink" href="{{item.rssUrl}}"><i style="float:right;">&nbsp;</i></a>
      {% endif %}
    </a>
    {{ menuChildren(item.children) }}
  </li>
{% endmacro %}

{% macro menuFolder(folder) %}
    {% if folder.children is not empty %}
    <li class="menuFolder {{ folder.isOpen equals true ? 'active' : '' }}">
      <p>{{ folder.name.content }}</p>
      {{ menuChildren(folder.children)}}
    </li>   
    {% endif %}
{% endmacro %}

<nav class="col-sm-3" style="padding-left:0px; padding-top:60px;z-index:999; margin-left:-1px;">
  <!-- REGULAR MENU -->
    {% for menu in menus %}
        <div class="sidebar-module">
            
            {{ menuChildren(menu.children) }}
        </div>
    {% endfor %}

    <div class="sidebar-module">
    </div>
</nav>

<script type="text/javascript">
(function() {
  $('.menuFolder:not(.open)>.children').hide();
  $('.menuFolder>p').click(function(event){
    $(this).parent().toggleClass('open');
    $(this).parent().children('.children').slideToggle();
    event.preventDefault();
  });
  setLang=function(l){$.post('{{request.contextPath}}/api/bennu-core/profile/locale/'+l.replace('_', '-')).always(function(){location.reload();})}
})();
</script>
