{% macro personsCards(persons, title) %}

	{% if persons is not empty %}
		<h4 class="persons-title"><small>{{ title }}</small></h4>
		{% lazyFor person in persons %}
			<div class="person-card-item">
				{{ personCard(person) }}
				<hr>
			</div>
		{% endLazyFor %}
	{% endif %}

{% endmacro %}

{% macro personCard(person) %}
	{% if person is not empty %}
        <div class="row" style="margin-top:25px;">
                <div class="col-sm-1">
                    <img class="img-circle" width="60" src="{{person.user.profile.avatarUrl}}?s=60"/>
                </div>
                <div class="col-sm-11" style="margin-top:12px;padding-left:25px;">
                    {% if person.hasAvailableWebSite %}
                        <a href="{{person.homepageWebAddress}}">{{person.profile.displayName}}</a>
                    {% else %}
                        {{person.name}}
                    {% endif %}
                    <div>
                    {{person.profile.email}}
                    </div>
            </div>
        </div>
	{% endif %}
{% endmacro %}

