{% extends "fenixedu-learning-theme/base.html" %}

{% block content %}

<table class="table">
	<thead>
		<tr>
			<th>{{ i18n('resources.ApplicationResources', 'property.turno') }}</th>
			<th>{{ i18n('resources.ApplicationResources', 'label.weeks') }}</th>
			<th>{{ i18n('resources.ApplicationResources', 'label.date') }}</th>
			<th>{{ i18n('resources.ApplicationResources', 'property.lesson.room') }}</th>
			<th>{{ i18n('resources.ApplicationResources', 'label.classOrClasses') }}</th>
		</tr>
	</thead>
	<tbody>
		{% for shift in executionCourse.associatedShifts %}
			{% for lesson in shift.associatedLessons %}
				<tr>
					<td>{{ shift.nome }}</td>
					<td>{{ lesson.occurrenceWeeksAsString }}</td>
					<td>{{ lesson.diaSemana }}, {{ lesson.inicio.time | date("HH:mm") }} &mdash; {{ lesson.fim.time | date("HH:mm") }}</td>
					<td>
						{% if lesson.sala is not empty %}
							<a href="{{ request.contextPath }}/spaces-view/view/{{ lesson.sala.externalId }}">{{ lesson.sala.name }}</a>
						{% else %}
							-
						{% endif %}
					</td>
					<td>
						{% for schoolClass in shift.associatedClasses %}
							{{ schoolClass.nome }}<br/>
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
		{% endfor %}
	</tbody>
</table>	

{% endblock content %}