{% extends "fenixedu-learning-theme/base.html" %}

{% macro viewPost(post, page, request) %}

    <div>
        {% if post.isVisible %}

            {% if post.name.content != page.name.content %}
                <h5 style="margin-top: 0; font-weight:400"><a href="{{post.address}}">{{ post.name.content }}</a></h5>
                    <p class="small" style="font-size:11px; color:#888;margin-top:5px; margin-bottom:18px;"> 
                    <span>{{ post.creationDate|formatDate("d MMMM Y, HH:mm") }} </span>
                    <span style="padding-left:5px; padding-right:5px; color:#ddd;">&bull;</span>
                    <span>{{post.createdBy.displayName}}</span>
                </p>
            {% endif %}
            <p>{{post.excerpt.content | raw}}</p>
            <hr/>
            <p>{{post.body.content | raw}}</p>

            {% if post.attachments.size != 0 %}
                <p>
                <h4>Attachments</h4>
                <ul>
                    {% for file in post.attachments %}
                        <li><a href="{{file.url}}">{{file.name}}</a></li>
                    {% endfor %}
                </ul>
                </p>
            {% endif %}

        {% else %}
            <p>
                {{ i18n('CmsExceptionResources', 'label.unautenticated.private.post') }} {{ post.visibilityGroup }}
            </p>
            {% if request.user is empty or not request.user.isAuthenticated %}
                <p>
                    <a href="{{request.contextPath}}/login?callback={{ request.url }}">Login</a>
                </p>
            {% endif %}

        {% endif %}

    </div><!-- /.blog-post -->


{% endmacro %}
{% block contentTitle %}
    
{% endblock contentTitle %}
{% block content %}
	{{ viewPost(post, page, request) }}
{% endblock content %}